.advantages {
  padding-top: 42px;
  padding-bottom: 81px;
}

.advantages__title {
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;

  &::after {
    content: "Преимущества";
    left: 50%;
    transform: translateX(-50%);
  }
}

.advantages__title span {
  max-width: 400px;
  word-wrap: break-word;

  @include vp-mobile {
    max-width: 290px;
  }
}
