.advantages-swiper-all-slides {
  @include vp-tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @include vp-mobile {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
