.advantages {
  padding-top: 42px;
  padding-bottom: 81px;

  @include vp-tablet {
    padding-top: 47px; // Подгон
    padding-bottom: 45px;
  }

  @include vp-mobile {
    padding-top: 44px; // Подгон
    padding-bottom: 40px;
  }
}

.advantages__title {
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;

  &::after {
    content: "Преимущества";
    left: 50%;
    transform: translateX(-50%);
  }

  @include vp-tablet {
    margin-bottom: 47px; // Подгон
  }

  @include vp-mobile {
    min-height: 26px;
    margin-bottom: 19px; // Подгон
    font-size: 22px;
    line-height: 22px;
  }
}

.advantages__title span {
  max-width: 400px;
  word-wrap: break-word;

  @include vp-mobile {
    max-width: 290px;
  }
}
