.advantages-swiper {
  max-width: 1440px;

  @include vp-tablet {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 120px;

    @include vp-tablet {
      padding: 0 45px;
    }

    @include vp-mobile {
      padding: 0 15px;
    }
  }
}

.advantages-swiper__btn-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 4px;
  min-height: 35px;
  margin-top: 50px;

  @include vp-tablet {
    display: none;
  }
}

.advantages-swiper__btn {
  position: static;
  transform: translateY(22px); // Подгон
}

.advantages-swiper__btn--next svg {
  scale: (-1);
}
