.advantages-card {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 380px;
  height: inherit;
  min-height: 329px;
  padding: 40px 20px;
  text-align: center;
  border: 1px solid rgba(2, 102, 193, 0.1);

  &--odd-card {
    @include vp-tablet {
      max-width: 380px;
      margin: 0 auto;
      grid-column: span 2;
    }

    @include vp-mobile {
      max-width: unset;
      margin: 0;
      grid-column: unset;
    }
  }

  @include vp-tablet {
    flex: 1;
    width: auto;
    min-width: 300px;
    min-height: 230px;
    padding: 30px 20px;
    padding-bottom: 29px; // Подгон
  }

  @include vp-mobile {
    width: auto;
    min-width: 290px;
    padding: 20px 10px;
    padding-top: 19px; // Подгон
    padding-bottom: 19px; // Подгон
  }
}

.advantages-card__img-wrapper {
  margin-bottom: 27px; // Подгон

  @include vp-tablet {
    margin-bottom: 25px;
  }

  @include vp-mobile {
    margin-bottom: 20px;
  }
}

.advantages-card__img-wrapper img {
  width: 54px;
  height: 54px;

  @include vp-tablet {
    width: 48px;
    height: 48px;
  }

  @include vp-mobile {
    width: 42px;
    height: 42px;
  }
}

.advantages-card__text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-card__text-content h3 {
  max-width: 340px;
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  word-wrap: break-word;

  @include vp-tablet {
    max-width: 284px;
    margin-bottom: 14px; // Подгон
    font-size: 16px;
    line-height: 16px;
  }

  @include vp-mobile {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 14px;
  }
}

.advantages-card--odd-card > .advantages-card__text-content p {
  @include vp-tablet {
    max-width: 340px;
  }
}

.advantages-card__text-content p {
  max-width: 340px;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  word-wrap: break-word;

  @include vp-tablet {
    max-width: 292px;
  }

  @include vp-mobile {
    max-width: 300px;
    font-size: 12px;
    line-height: 18px;
  }
}
