.gallery-card {
  height: 449px; // Подгон

  @include vp-tablet {
    height: 450px;
  }

  @include vp-mobile {
    height: 260px;
  }

  &--img-one {
    width: 275px;

    @include vp-tablet {
      width: 252px;
    }

    @include vp-mobile {
      width: 158px;
    }
  }

  &--img-multiple {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 298px;

    @include vp-tablet {
      width: 252px;
    }

    @include vp-mobile {
      width: 158px;
    }
  }
}

.gallery-card__img-wrapper {
  width: inherit;
  height: inherit;
  pointer-events: none;
}

.gallery-card__img-wrapper img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}
