// Стили хэдера академии
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 127px;

  z-index: 30;
  transition: transform 0.3s ease, background-color 0.3s ease;

  @include vp-tablet {
    position: relative;
    height: auto;
  }

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  &.is-hidden {
    transform: translateY(-100%);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 20px;
    color: $color-default-white;
    background-color: $color-main-additional;
    font-family: $ff-montserrat;

    .is-open & {
      background-color: $color-default-white;
    }

    @include vp-tablet {
      padding: 20px 45px;
    }

    @include vp-mobile {
      padding: 15px;
      display: grid;
      grid-template-areas:
        "burger logo"
        "burger contact";
      row-gap: 14px;
      padding: 15px;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    // padding-left: 33px;
    padding-right: 30px;
    color: $color-default-white;

    @include hover-focus {
      outline: none;
      opacity: 0.7;
    }

    @include active {
      opacity: 0.5;
    }

    .is-open & {
      position: relative;
      color: $color-main-text;
      z-index: 25;
    }

    @include vp-tablet {
      padding: 0;
    }

    @include vp-mobile {
      grid-area: logo;
      justify-self: flex-end;
    }
  }

  &__contact {
    max-width: 145px;
    min-width: 145px;
    color: $color-default-white;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    text-align: end;

    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;

    @include hover-focus {
      outline: none;
      color: $color-main-text;
    }

    @include active {
      color: $color-default-white;
      opacity: 0.5;
    }

    &:disabled,
    &--disabled {
      color: $color-default-white;
      opacity: 1;
      cursor: default;
    }

    .is-open & {
      color: $color-main-text;
      z-index: 25;

      @include active {
        color: $color-main-additional;
        opacity: 0.5;
      }

      &:disabled,
      &--disabled {
        color: $color-main-additional;
        opacity: 1;
        cursor: default;
      }
    }

    @include vp-tablet {
      max-width: unset;
      min-width: 130px;
      font-size: 16px;
      line-height: 16px;
    }

    @include vp-mobile {
      justify-self: flex-end;
      width: auto;
      max-width: 145px;
      font-size: 14px;
      line-height: 14px;
      min-width: unset;
    }
  }

  &__nav {
    .is-open & {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
      overflow-y: auto;

      .header__item {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @include vp-tablet {
      background-color: $color-default-white;
      display: flex;
      flex-direction: column;
      left: 0;
      opacity: 0;
      margin: 0;
      padding: 30px 45px 70px 45px;
      position: absolute;
      pointer-events: none;
      top: 100%;
      width: 100%;
      transition: background-color 0.3s ease;
      visibility: hidden;
      z-index: 20;
      transform: translateY(-1px);
    }


    @include vp-mobile {
      padding: 15px 15px 50px 15px;
    }
  }

  &__list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 14px;
    padding: 0 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

    overflow: auto;
    max-height: 62px;

    @include vp-tablet {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 12px;
      padding: 0;

      overflow: visible;
      max-height: 230px;
      min-height: 226px;
      flex-wrap: nowrap;
      overflow-y: auto;
    }

    @include vp-mobile {
      max-height: 200px;
      min-height: 194px;
      row-gap: 10px;
    }
  }

  &__item {
    max-width: 113px;

    &:not(:last-child) {
      margin: 0 25px 0 0;
    }

    @include vp-tablet {
      max-width: 145px;
      opacity: 0;
      transition: opacity ease-out 0.15s, transform ease-out 0.15s;
      transform: translateX(-15px);
    }
  }

  &__link {
    display: block;
    max-width: inherit;
    color: $color-default-white;
    padding: 3px 3px; // Подгон
    border: 1px solid transparent;
    word-wrap: break-word;
    transition: color 0.3s ease;

    @include hover {
      border-bottom-color: $color-default-white;
    }

    @include focus {
      outline: none;
      border-color: $color-default-white;
    }

    @include active {
      color: $color-default-white;
      border-color: transparent;
    }

    &:disabled,
    &--disabled {
      color: $color-default-white;
      border-color: transparent;
      cursor: default;
    }

    @include vp-tablet {
      color: $color-main-text;
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.64px;
      text-transform: uppercase;

      @include hover {
        border-bottom-color: $color-main-text;
      }

      @include focus {
        outline: none;
        border-color: $color-main-text;
      }

      @include active {
        color: $color-main-text;
        border-color: transparent;
      }

      &:disabled,
      &--disabled {
        color: $color-main-text;
        border-color: transparent;
        cursor: default;
      }
    }

    @include vp-mobile {
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.56px;
    }
  }

  &__burger {
    align-items: center;
    background-color: transparent;
    border: none;
    color: #000000;
    display: none;
    padding: 0;
    position: relative;
    z-index: 25;

    @include focus {
      outline: none;
      opacity: 0.7;
    }

    .is-open {
      .header__burger-icon {
        opacity: 1;
        pointer-events: all;
        transition: opacity 0.3s ease 0.2s;
      }
    }

    @include vp-tablet {
      display: flex;
      position: relative;
      transition: opacity 0.3s ease;
    }

    @include vp-mobile {
      grid-area: burger;
      align-self: flex-start;
      width: auto;
    }
  }

  &__burger-icon-close {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: opacity 0.3s ease 0.1s;
    cursor: pointer;

    .is-open & {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease 0s;
    }
  }

  &__burger-icon-open {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    position: absolute;
    // right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    .is-open & {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.3s ease 0.2s;
    }
  }
}

.header__container {
  @include vp-tablet {
    padding: 0;
  }
}

.header__wrapper {
  height: 127px;
}

.header__burger-wrapper,
.header__contact-wrapper {
  display: flex;
  align-items: center;

  @include vp-tablet {
    width: 226px;
  }

  @include vp-mobile {
    width: auto;
  }
}

.header__burger-wrapper {
  justify-content: start;
}

.header__contact-wrapper {
  justify-content: end;

  @include vp-mobile {
    grid-area: contact;
  }
}
