.hero-slide {
  height: inherit;
  min-height: 800px;
  color: $color-default-white;

  @include vp-tablet {
    min-height: 942px;
  }

  @include vp-mobile {
    min-height: 468px;
  }
}

.hero-slide__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  min-height: inherit;
  padding-top: 200px;
  padding-bottom: 80px;

  @include vp-tablet {
    justify-content: start; // Проверка
    padding-top: 130px;
    text-align: center;
  }

  @include vp-mobile {
    padding-top: 42px; // Подгон
    row-gap: 50px;
  }
}

.hero-slide__background-img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;

  @include vp-tablet {
    top: unset; // Подгон
  }
}

.hero-slide__text-content {
  display: flex;
  flex-direction: column;
  color: $color-default-white;
  font-family: $ff-montserrat;
  font-style: normal;
}

.hero-slide__text-content h3 {
  position: relative;
  max-width: 944px;
  margin: 0;
  margin-bottom: 25px;
  font-size: 77px;
  font-weight: 800;
  line-height: 77px;
  word-wrap: break-word;
  z-index: 2;

  @include vp-tablet {
    max-width: 590px;
    align-self: center;
    margin-bottom: 15px;
    font-size: 56px;
    line-height: 56px;
  }

  @include vp-mobile {
    max-width: 290px;
    font-size: 26px;
    line-height: 26px;
  }
}

.hero-slide__text-content p {
  max-width: 464px;
  margin: 0;
  margin-bottom: 35px;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;

  @include vp-tablet {
    max-width: 474px; // Подгон
    align-self: center;
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 24px;
  }

  @include vp-mobile {
    max-width: 270px; // Подгон
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 20px;
  }
}

.hero-slide__btn {
  justify-content: center;
  align-items: center;
  width: 180px;
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;

  @include vp-tablet {
    align-self: center;
  }

  @include vp-mobile {
    margin-bottom: 0;
  }

  &--disabled {
    color: $color-default-white;
    background-color: $color-disabled-background;
    cursor: default;
  }
}

.hero-slide__btn span {
  max-width: 140px;
  word-wrap: break-word;
}

.hero-slide__details {
  display: flex;
  gap: 10px;
  margin-top: auto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  @include vp-tablet {
    display: none;
  }
}

.hero-slide__detail {
  display: flex;
  position: relative;
  max-width: 200px;
  padding: 14px 20px;
  margin: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.hero-slide__detail img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.hero-slide__detail-text {
  max-width: 145px;
  padding-left: 8px;
  margin-left: 20px;
  word-wrap: break-word;
}

.hero-slide__video-wrapper {
  position: absolute;
  bottom: 30px;
  right: 120px;
  transform: translateY(-42%); // Подгон
  z-index: 1;

  @include vp-tablet {
    position: static;
    align-self: center;
    right: 45px;
    transform: unset;
  }

  @include vp-mobile {
    display: none;
    right: 15px;
  }
}

.hero-slide__video-wrapper img {
  @include vp-tablet {
    width: 442px;
    height: 300px;
  }
}

.hero-slide__audio-wrapper {
  position: absolute;
  bottom: 60px;
  right: 120px;
  transform: translateY(-44%); // Подгон
  z-index: 1;

  @include vp-tablet {
    position: static;
    align-self: center;
    right: 45px;
    transform: unset;
  }

  @include vp-mobile {
    display: none;
    right: 15px;
  }
}

.hero-slide__poster-wrapper {
  position: relative;
}

.hero-slide__video-btn,
.hero-slide__audio-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inherit;
  padding: 0;
  border: none;
  background-color: transparent;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.hero-slide__video-btn {
  .hero-slide__svg {
    &--default {
      display: block;
      color: $color-default-white;
    }

    &--hover {
      display: none;
      color: transparent;
    }
  }

  @include hover-focus {
    outline: none;

    .hero-slide__svg {
      &--default {
        display: none;
      }

      &--hover {
        display: block;
      }
    }
  }

  @include active {
    .hero-slide__svg {
      &--default {
        display: none;
      }

      &--hover {
        display: block;
        color: $color-active-btn;
      }
    }
  }

  &:disabled {
    cursor: auto;
    opacity: 0.7;

    .hero-slide__svg {
      &--default {
        display: block;
        opacity: 0.7;
        color: $color-main-additional;
      }

      &--hover {
        display: none;
      }
    }

    @include hover-focus {
      .hero-slide__svg--default {
        display: block;
      }

      .hero-slide__svg--hover {
        display: none;
      }
    }

    @include active {
      .hero-slide__svg--default {
        display: block;
      }

      .hero-slide__svg--hover {
        display: none;
      }
    }
  }
}

.hero-slide__audio-btn {
  transform: translateX(-50%) translateY(25%);

  .hero-slide__svg {
    &--default {
      display: none;
      color: transparent;
    }

    &--hover {
      display: block;
      color: $color-active-btn;
    }
  }

  @include hover-focus {
    outline: none;

    .hero-slide__svg--default {
      display: block;
    }

    .hero-slide__svg--hover {
      display: none;
    }
  }

  @include active {
    .hero-slide__svg {
      &--default {
        display: none;
      }

      &--hover {
        display: block;
        color: $color-active-btn;
      }
    }
  }

  &:disabled {
    cursor: auto;
    opacity: 0.7;

    .hero-slide__svg {
      &--default {
        display: block;
        opacity: 0.7;
        color: $color-main-additional;
      }

      &--hover {
        display: none;
      }
    }

    @include hover-focus {
      .hero-slide__svg--default {
        display: block;
        color: $color-main-additional;
      }

      .hero-slide__svg--hover {
        display: none;
      }
    }

    @include active {
      .hero-slide__svg--default {
        display: block;
      }

      .hero-slide__svg--hover {
        display: none;
      }
    }
  }
}

.hero-slide__img {
  position: absolute;
  bottom: 30px;
  right: 120px;
  transform: translateY(-28%); // Подгон
  z-index: 1;

  @include vp-tablet {
    position: static;
    align-self: center;
    right: 45px;
    transform: unset;
  }

  @include vp-mobile {
    display: none;
    right: 15px;
  }
}
