.hero-swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-disabled-background; // Подстраховка, пока background-image не загрузиться

  @include vp-tablet {
    position: static;
    transform: translateY(-2px); // Устраняет зазор
  }
}

.hero-swiper__pagination {
  position: absolute;
  bottom: 80px;
  right: 120px;
  transform: translateY(-50%);

  @include vp-tablet {
    position: absolute;
    right: 50%;
    bottom: 0;
    transform: translateY(-50%) translateX(50%);
  }
}

.hero-swiper__pagination span {
  margin: 0;
}

.hero-swiper__pagination span:not(:last-child) {
  margin-right: 20px;
}
