.hero-swiper {
  width: 100%;

  @include vp-tablet {
    position: static;
  }
}

.hero-swiper__pagination {
  position: absolute;
  bottom: 80px;
  right: 120px;
  transform: translateY(-50%);

  @include vp-tablet {
    position: absolute;
    right: 50%;
    bottom: 20px;
    transform: translateY(-50%) translateX(50%);
  }
}

.hero-swiper__pagination span {
  margin: 0;
}

.hero-swiper__pagination span:not(:last-child) {
  margin-right: 20px;
}
