.process {
  position: relative;
  display: flex;
  column-gap: 10px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
  padding-bottom: 7px;
  overflow-x: hidden; // Не получилось реализовать по-другому

  &::after {
    content: "";
    position: absolute;
    bottom: 13px;
    left: 130px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-main-additional;
    opacity: 0.2;
    pointer-events: none;
  }

  @include vp-tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
    row-gap: 40px;
    // max-width: 620px;
    margin: 0;
    margin-right: auto;
    padding: 0 45px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1px;
      height: 60px;
      background-color: $color-main-additional;
      opacity: 0.2;
      transform: translateY(-65%) translateX(17px); // Подгон
    }

    &::after {
      content: unset;
    }
  }

  @include vp-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    min-height: 219px;
    padding: 0 15px;
    row-gap: 24px; // Подгон
    column-gap: 25px;

    &::before {
      content: unset;
    }

    // При переполнении ломается
    &::after {
      content: "";
      position: absolute;
      top: 20px;
      left: 22px;
      display: block;
      width: 1px;
      height: calc(100% - 40px); // По-другому не получилось
      background-color: $color-main-additional;
      opacity: 0.2;
      pointer-events: none;
    }
  }
}

.process__item {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 253px;
  margin-left: 10px;

  &::after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: $color-main-additional;
    border-radius: 50%;
    margin-top: auto;
  }

  @include vp-tablet {
    max-width: 100%;

    &:nth-child(4n+3),
    &:nth-child(4n+4) {
      &::before {
        content: "";
        width: 14px;
        height: 14px;
        background-color: $color-main-additional;
        border-radius: 50%;
        margin-bottom: 13px;
      }

      &::after {
        content: unset;
      }
    }

    &:nth-child(4n+3) {
      order: 2;
    }

    &:nth-child(4n+4) {
      order: 1;
    }

    &:first-child::before,
    &:last-child::after {
      content: "";
      position: absolute;
      height: 1px;
      background-color: $color-main-additional;
      opacity: 0.2;
      pointer-events: none;
    }

    &:first-child::before {
      bottom: 6px;
      left: 10px;
      width: 100%;
    }

    &:last-child::after {
      top: 6px;
      left: 10px;
      width: 100%;
    }
  }

  @include vp-mobile {
    flex-direction: row-reverse;
    max-width: inherit;
    margin-left: 0;
    column-gap: 15px;
    justify-content: start;

    &::after {
      align-self: center;
      margin-top: 0;
      width: 15px;
      height: 13px;
    }

    &::before {
      content: unset;
    }

    &:first-child {
      min-width: auto;
    }

    &:first-child::before,
    &:last-child::after {
      content: unset;
    }

    &:nth-child(4n+3),
    &:nth-child(4n+4) {
      &::before {
        content: unset;
      }

      &::after {
        content: "";
        position: static;
        align-self: center;
        width: 15px;
        height: 13px;
        background-color: $color-main-additional;
        border-radius: 50%;
        margin-bottom: 0;
        opacity: 1;
      }
    }

    &:nth-child(4n+3) {
      order: unset;
    }

    &:nth-child(4n+4) {
      order: unset;
    }
  }
}

.process__wrapper {
  position: relative;
  display: flex;
  align-items: start;
  column-gap: 10px;

  @include vp-tablet {
    margin-bottom: 10px;
  }

  @include vp-mobile {
    column-gap: 13px;
    margin-bottom: 0;
  }
}

.process__img-wrapper {
  @include vp-tablet {
    padding-top: 2px;
  }

  @include vp-mobile {
    align-self: center;
    padding-top: 0;
  }
}

.process__img-wrapper img {
  max-width: unset;

  @include vp-mobile {
    width: 21px;
    height: 20px;
  }
}

.process__text {
  max-width: 200px;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;

  @include vp-tablet {
    max-width: 200px;
    font-size: 14px;
    line-height: 22px;
  }

  @include vp-mobile {
    max-width: 207px;
    font-size: 12px;
    line-height: 18px;
  }
}
