.reviews-swiper {
  padding-top: 40px;
  padding-right: 0;
  padding-left: 10px;
  padding-bottom: 20px;

  @include vp-tablet {
    padding-top: 40px;
    padding-left: 0;
  }

  @include vp-mobile {
    margin-top: 15px;
    box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);
  }
}
