.reviews {
  padding-top: 30px;

  @include vp-tablet {
    padding-top: 37px;
    padding-bottom: 37px;
  }

  @include vp-mobile {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.reviews__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 55px;

  @include vp-tablet {
    min-height: 49px;
  }

  @include vp-mobile {
    align-items: center;
    min-height: 26px;
  }
}

.reviews__swiper-title {
  min-height: unset;

  &::after {
    content: "Отзывы";
  }
}

.reviews__swiper-title span {
  max-width: 550px;
  word-wrap: break-word;

  @include vp-tablet {
    font-size: 25px;
    line-height: normal;
  }

  @include vp-mobile {
    max-width: 205px;
    font-size: 22px;
    line-height: 22px;
  }
}

.reviews__btn-wrapper {
  display: flex;
  align-self: center;
  column-gap: 4px;
  height: 35px;
}

.reviews__btn {
  position: static;
  transform: translateY(66%); // Подгон
}

.reviews__btn--next svg {
  scale: (-1);
}
