.reviews-card {
  display: flex;
  column-gap: 30px;
  width: 700px;
  height: inherit;
  padding: 20px;
  padding-right: 40px;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);

  @include vp-tablet {
    width: 565px;
    padding-right: 30px;
  }

  @include vp-mobile {
    flex-direction: column;
    width: auto;
    padding: 20px;
    padding-bottom: 16px; // Подгон
    box-shadow: none;
  }
}

.reviews-card__img-wrapper img {
  width: 258px;
  height: 253px;
  max-width: unset;
  min-height: 100%;
  object-fit: cover;

  @include vp-tablet {
    width: 186px;
    height: 237px;
  }

  @include vp-mobile {
    width: 100%;
    height: 169px;
  }
}

.reviews-card__row-wrapper {
  display: flex;
  flex-direction: column;
}

.reviews-card__text-content {
  @include vp-tablet {
    padding-top: 3px;
  }

  @include vp-mobile {
    padding-top: 19px; // Подгон
    padding-bottom: 15px;
  }
}

.reviews-card__text-content p {
  max-width: 352px;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  word-wrap: break-word;

  @include vp-tablet {
    max-width: 299px;
    font-size: 12px;
    line-height: 18px;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  @include vp-mobile {
    max-width: unset;
  }
}

.reviews-card__title {
  max-width: 200px;
  margin: 0;
  margin-bottom: 8px;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px;
  word-wrap: break-word;

  @include vp-mobile {
    font-size: 12px;
    line-height: 12px;
  }
}

.reviews-card__sub-title {
  max-width: 180px;
  margin: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  word-wrap: break-word;

  @include vp-mobile {
    line-height: 12px;
  }
}

.reviews-card__info {
  margin-top: auto;
  padding-bottom: 10px;

  @include vp-tablet {
    padding-bottom: 5px;
  }
}
