.shadow-title {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: end;
  min-height: 56px;
  margin: 0;
  color: $color-main-text;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;

  @include vp-mobile {
    font-size: 20px; // С font-size из фигмы текст не помещается
    font-weight: 800;
    line-height: 22px;
  }

  &::after {
    position: absolute;
    bottom: 7px; // Подгон
    left: 0;
    font-family: $ff-montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    opacity: 0.03;
    z-index: -1;

    @include vp-mobile {
      bottom: 0;
      max-width: 290px;
      overflow-x: hidden;
      white-space: nowrap;
      font-size: 29px;
      font-weight: 800;
      line-height: 42px;
    }
  }
}
