.tours-swiper {
  padding: 53px 0;

  @include vp-mobile {
    padding: 26px 0;
  }
}

.tours-swiper__btn {
  top: 0;
  left: unset;
  transform: translateY(-37%); // Подгон

  &--next {
    right: 0;

    & svg {
      scale: (-1);
    }
  }

  &--prev {
    right: 41px;
  }
}

.tours-swiper__all-slides-wrapper {
  display: flex;
  justify-content: center;
}

.tours-swiper__all-slides {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  padding: 10px;
  border: none;
  color: $color-main-text;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  cursor: pointer;

  @include hover-focus {
    outline: none;
    color: $color-active-btn;
  }

  @include active {
    color: $color-main-additional;
  }

  &:disabled {
    color: $color-main-additional;
  }

  & span {
    max-width: 240px;
    word-wrap: break-word;
  }
}

.tours-swiper__all-slides:disabled .tours-swiper__svg-wrapper {
  opacity: 0.2;
}

.tours-swiper__svg-wrapper {
  width: 9px;
  height: 14px;
}
