// Класс для allSlides
.tours-swiper-all-slides {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @include vp-tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }

  @include vp-mobile {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  & div {
    width: auto;
  }
}
