.tours {
  position: relative;
  padding: 100px 0;

  @include vp-tablet {
    padding: 45px 0;
  }

  @include vp-mobile {
    padding: 20px 0;
  }
}

.tours__img-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  z-index: -1000;

  @include vp-mobile {
    width: 346px;
    height: 595px;
  }
}

.tours__title {
  &::after {
    content: "Ближайшие туры";
  }

  & span {
    max-width: 550px;
    word-wrap: break-word;

    @include vp-mobile {
      max-width: 205px;
    }
  }
}

.tours__wrapper {
  position: relative;
}
