.tours {
  position: relative;
  padding: 100px 0;

  @include vp-tablet {
    padding: 45px 0;
    padding-top: 44px; // Подгон
  }

  @include vp-mobile {
    padding: 20px 0;
  }
}

.tours__img-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  z-index: -1000;

  @include vp-tablet {
    width: 602px;
    height: 1364px;
  }

  @include vp-mobile {
    top: 115px; // Подгон
    width: 170px; // Подгон
    height: 595px;
  }
}

.tours__title {
  &::after {
    content: "Ближайшие туры";
  }
}

.tours__title span {
  max-width: 550px;
  word-wrap: break-word;

  @include vp-mobile {
    max-width: 217px;
    font-size: 22px;
    line-height: 22px;
  }

  // При 320 текст не помещается
  @media (width <= 320px) {
    max-width: 205px;
  }
}

.tours__wrapper {
  position: relative;
}

.tours__btn {
  top: 0;
  left: unset;
  transform: translateY(-37%); // Подгон

  &--next {
    right: 0;
  }

  &--prev {
    right: 41px;
  }
}

.tours__btn--next svg {
  scale: (-1);
}

.tours__all-slides-wrapper {
  display: flex;
  justify-content: center;
}

.tours__all-slides {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  padding: 10px;
  border: none;
  color: $color-main-text;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  cursor: pointer;

  @include hover-focus {
    outline: none;
    color: $color-active-btn;
  }

  @include active {
    color: $color-main-additional;
  }

  &:disabled {
    color: $color-main-additional;
  }
}

.tours__all-slides span {
  max-width: 240px;
  word-wrap: break-word;

  @include vp-mobile {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
  }
}

.tours__all-slides:disabled .tours__svg-wrapper {
  opacity: 0.2;
}

.tours__svg-wrapper {
  width: 9px;
  height: 14px;
}
