.tours {
  position: relative;
  padding: 100px 0;

  @include vp-tablet {
    padding: 45px 0;
  }

  @include vp-mobile {
    padding: 20px 0;
  }
}

.tours__title {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: end;
  min-height: 56px;
  margin: 0;
  color: $color-main-text;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;

  & span {
    max-width: 550px;
    word-wrap: break-word;

    @include vp-mobile {
      max-width: 205px;
    }
  }

  @include vp-mobile {
    font-size: 20px; // С font-size из фигмы текст не помещается
    font-weight: 800;
    line-height: 22px;
  }

  &::after {
    content: "Ближайшие туры";
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: $ff-montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    opacity: 0.03;
    z-index: -1;

    @include vp-mobile {
      max-width: 290px;
      overflow-x: hidden;
      white-space: nowrap;
      font-size: 29px;
      font-weight: 800;
      line-height: 42px;
    }
  }
}
