.training {
  position: relative;
  padding-top: 20px;

  @include vp-tablet {
    padding-top: 63px; // Подгон
    padding-bottom: 37px; // Подгон
  }

  @include vp-mobile {
    padding-top: 27px; // Подгон
    padding-bottom: 21px; // Подгон
  }
}

.training__wrapper {
  position: relative;
  padding-top: 20px;
  padding-bottom: 56px;

  @include vp-tablet {
    padding-top: 28px;
    padding-bottom: 27px;
  }

  @include vp-mobile {
    padding-top: 23px; // Подгон
    padding-bottom: 25px;
  }
}

.training__title {
  margin-bottom: 37px;

  @include vp-tablet {
    min-height: 20px;
    margin-bottom: 21px;
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-mobile {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 22px;
  }
}

.training__title span {
  max-width: 550px;
  word-wrap: break-word;

  @include vp-mobile {
    max-width: 205px;
  }
}

.training__title::after {
  content: "Обучение";
}

.training__text-content p {
  max-width: 900px;
  margin: 0;
  margin-bottom: 56px;
  color: $color-main-text;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.3); // Плохо видно на планшетных экранах
  border-radius: 10px;

  @include vp-tablet {
    margin-bottom: 29px;
    max-width: 530px;
  }

  @include vp-mobile {
    max-width: 305px;
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 20px;
  }
}

.training__swiper-title {
  display: flex;
  justify-content: start;
  align-items: start; // Не понятно как надо (в фигме)
  min-height: 55px;
  margin: 0;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}

.training__swiper-title span {
  max-width: 500px;
  word-wrap: break-word;

  @include vp-mobile {
    max-width: 230px;
  }

  // Текст не помещается на 320px
  @media (width <= 320px) {
    max-width: 201px;
  }
}

.training__process-title {
  margin: 0;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 31px;

  @include vp-tablet {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-mobile {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 16px;
  }
}

.training__process-title span {
  max-width: 500px;
  word-wrap: break-word;

  @include vp-mobile {
    max-width: 201px;
  }
}

.training__img-wrapper {
  position: absolute;
  bottom: -25%; // Подгон
  right: 0;
  z-index: -1;

  @include vp-tablet {
    bottom: -10%; // Подгон
  }

  @include vp-mobile {
    display: none;
  }
}

.training__btn {
  top: 0;
  left: unset;
  transform: translateY(-37%) translateX(-1px); // Подгон

  &--next {
    right: 0;
  }

  &--prev {
    right: 41px;
  }

  @include vp-mobile {
    transform: translateY(-46%) translateX(0); // Подгон
  }
}

.training__btn--next svg {
  scale: (-1);
}
