.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 120px;
  padding-left: 120px;

  @include vp-tablet {
    padding-right: 45px;
    padding-left: 45px;
  }

  @include vp-mobile {
    padding-right: 15px;
    padding-left: 15px;
  }
}
